.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #f4f2ee;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  color: #333;
}

.btn {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #d68a00;
}

.card {
  background-color: #fff;
  color: #333;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.507);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #005b9a;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  width: 100vw;
  height: 60px;
}

.header {
  background-color: #005b9a;
  color: #fff;
  font-size: 20px;
  width: 100vw;
  height: 60px;
  /* Dropdown menu */
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}
.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}
.header__menu-item a {
  text-decoration: none;
  color: #fff;
}
.header__menu-item a:hover {
  color: #b3b3b3;
}
.header__logo a {
  text-decoration: none;
  color: #fff;
}
.header__logo a:hover {
  color: #bfbfbf;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 60px;
  right: 0;
}
.header__dropdown-content a {
  font-weight: 600;
  color: #003d67;
  text-decoration: none;
  display: block;
}
.header__dropdown-content a:hover {
  background-color: #ffa400;
  color: #000101;
}
.header .show {
  display: block;
}
.header__drop-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translateY(11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-11px) rotate(45deg);
}

@media (min-width: 700px) {
  .header__menu {
    display: flex;
  }
  .header__drop-container {
    display: none;
  }
}
@media (max-width: 700px) {
  .header__menu {
    display: none;
  }
  .header__drop-container {
    display: inline-block;
  }
}
@media (max-width: 400px) {
  .header__logo {
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  .header__logo {
    font-size: 18px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translateY(10px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translateY(-10px) rotate(45deg);
  }
}
.landing {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1606787366850-de6330128bfc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 88vh;
  width: 100vw;
  background-repeat: repeat;
}
.landing__image {
  position: absolute;
  background-color: #f7f7f7;
  width: 0%;
  height: 90%;
  animation: display 2.5s linear 0.5s 2;
}
@keyframes display {
  0%, 25% {
    width: 100%;
  }
  25%, 50% {
    width: 75%;
  }
  50%, 75% {
    width: 56%;
  }
  75%, 100% {
    width: 56%;
  }
}
.landing__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  width: 55%;
  height: 100%;
  background-color: #f7f7f7;
  padding: 15px;
}
.landing__cta-title {
  font-size: 40px;
  color: #005b9a;
}
.landing__cta-msg {
  font-size: 25px;
  font-weight: 500;
}
.landing__cta-btn {
  font-size: 25px;
  background-color: #ffa400;
  height: 60px;
  width: 150px;
}
.landing__cta-btn a {
  font-weight: 600;
  text-decoration: none;
  color: rgb(9, 9, 63);
  padding: 10px;
}

@media (max-width: 500px) {
  .landing__image {
    visibility: hidden;
  }
  .landing__cta {
    width: 100%;
    animation: show 3s linear 0s 1;
  }
  @keyframes show {
    0%, 25% {
      opacity: 0%;
    }
    25%, 50% {
      opacity: 25%;
    }
    50%, 75% {
      opacity: 50%;
    }
    75%, 100% {
      opacity: 75%;
    }
    100% {
      opacity: 100%;
    }
  }
}
#home-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.565)), url("https://images.unsplash.com/photo-1533622597524-a1215e26c0a2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.hero__header {
  text-align: center;
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 3px #00a896;
}
.hero__msg {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.hero__input {
  border: none;
  border-radius: 15px;
  font-size: 25px;
  padding: 5px;
}
.hero__btn {
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  background-color: #ffa400;
}

.display__recipe-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.display__recipe-img {
  width: 100%;
  border-radius: 5px;
}
.display__recipe-btn {
  background-color: #ffa400;
  font-size: 18px;
  font-weight: 500;
}
.display__not-found {
  font-size: 25px;
  font-weight: 600;
  color: #d63a00;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  gap: 10px;
  background-color: #f2f2f2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}
.modal__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.modal__close {
  color: #ffa400;
  font-size: 28px;
  font-weight: 600;
}
.modal__close:hover, .modal__close:focus {
  color: #cc8300;
  text-decoration: none;
  cursor: pointer;
}
.modal__name {
  color: #005c52;
  font-size: 30px;
}
.modal__category, .modal__area,
.modal strong {
  font-size: 20px;
}
.modal__ingredients {
  list-style-type: none;
}
.modal__ingredients, .modal__instructions {
  font-size: 18px;
}
.modal h3 {
  font-size: 25px;
  color: #005c52;
}
.modal__img {
  border-radius: 10px;
  width: 100%;
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.categories__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.categories__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  color: #007568;
  font-size: 18px;
}
.categories__card-img {
  width: 200px;
}

.featured__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #00c2ad;
  width: 100vw;
}
.featured__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  height: 400px;
  width: 320px;
}
.featured__card-img {
  border-radius: 10px;
  width: 300px;
  height: 250px;
}
.featured__card-title {
  font-size: 20px;
}
.featured__card-btn {
  background-color: #ffa400;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 500px) {
  .hero__header {
    font-size: 25px;
  }
  .hero__msg {
    font-size: 20px;
  }
  .hero__input {
    font-size: 18px;
  }
  .hero__btn {
    font-size: 18px;
  }
}
@media (max-width: 315px) {
  #search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.about-hero {
  font-size: 50px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.about__header {
  font-size: 40px;
  color: #007568;
}
.about__msg {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

.future {
  position: relative;
}
.future__background-img {
  background-image: url("https://images.unsplash.com/photo-1706267701238-b4d69fc8f640?q=80&w=1900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 250px;
  background-position: center;
}
.future__header {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.485);
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 2px #007568;
  border: 3px solid #f1f1f1;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}

.new-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
.new-features__title {
  font-size: 30px;
  color: #007568;
}
.new-features__subtitle {
  font-size: 25px;
  color: #007568;
}
.new-features__msg, .new-features__subtitle-msg {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}

@media (width < 808px) {
  .future__header {
    font-size: 30px;
  }
}
@media (width < 630px) {
  .future__header {
    font-size: 25px;
    bottom: 8%;
  }
}/*# sourceMappingURL=main.css.map */