.grid {
  &__header {
    grid-area: header;
  }
  &__side {
    grid-area: side;
  }
  &__main {
    grid-area: main;
  }
  &__footer {
    grid-area: footer;
  }
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main side side"
    "main main side side"
    "footer footer footer footer";
}
