//adding flex to main content
#home-main {
  @include flex-layout($direction: column, $justify: space-evenly);
}

// hero image & search form/input
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.592), rgba(0, 0, 0, 0.565)),
    url("https://images.unsplash.com/photo-1533622597524-a1215e26c0a2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 350px;
  @include flex-layout($direction: column);
  &__header {
    text-align: center;
    font-size: $font-xl;
    color: $text-contrast;
    text-shadow: 2px 2px 3px $accent-secondary;
  }
  &__msg {
    text-align: center;
    font-size: $font-md;
    font-weight: $bold;
    color: $text-contrast;
  }
  &__input {
    border: none;
    border-radius: 15px;
    font-size: $font-md;
    padding: 5px;
  }
  &__btn {
    font-size: $font-sm;
    font-weight: $bolder;
    border: none;
    border-radius: 15px;
    background-color: $accent;
  }
}

// recipe cards display
.display {
  &__recipe-card {
    background-color: $background-secondary;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    float: left;
    @include flex-layout($direction: column);
  }
  &__recipe-img {
    width: 100%;
    border-radius: 5px;
  }
  &__recipe-btn {
    background-color: $accent;
    font-size: $font-xs;
    font-weight: $bold;
  }
  &__not-found {
    font-size: $font-md;
    font-weight: $bolder;
    color: darken(orangered, 8%);
  }
}

// modal
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  &__content {
    @include flex-layout($direction: column, $align: flex-start);
    gap: 10px;
    background-color: darken($background-secondary, 5);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  &__header {
    width: 100%;
    @include flex-layout($justify: space-between);
  }
  &__close {
    color: $accent;
    font-size: 28px;
    font-weight: $bolder;
  }
  &__close:hover,
  &__close:focus {
    color: darken($accent, 10);
    text-decoration: none;
    cursor: pointer;
  }
  &__name {
    color: darken($accent-secondary, 15);
    font-size: $font-lg;
  }
  &__category,
  &__area,
  strong {
    font-size: $font-sm;
  }
  &__ingredients {
    list-style-type: none;
  }
  &__ingredients,
  &__instructions {
    font-size: $font-xs;
  }
  h3 {
    font-size: $font-md;
    color: darken($accent-secondary, 15);
  }
  &__img {
    border-radius: 10px;
    width: 100%;
    max-height: 600px;
    object-fit: contain;
  }
}

// categories section
.categories {
  &__container {
    @include flex-layout($justify: space-evenly);
  }
  &__card {
    @include flex-layout($direction: column);
    color: darken($accent-secondary, 10%);
    font-size: $font-xs;
  }
  &__card-img {
    width: 200px;
  }
}

// featured section
.featured {
  &__cards-container {
    @include flex-layout($justify: space-evenly);
    background-color: lighten($accent-secondary, 5%);
    width: 100vw;
  }
  &__card {
    @include flex-layout($direction: column);
    height: 400px;
    width: 320px;
  }
  &__card-img {
    border-radius: 10px;
    width: 300px;
    height: 250px;
  }
  &__card-title {
    font-size: $font-sm;
  }
  &__card-btn {
    background-color: $accent;
    font-size: $font-xs;
    font-weight: $bolder;
  }
}
